$theme_color: #2d2755;

.stat-text,
.total-nodes {
  margin: 0;
  text-transform: uppercase;
}

.stat-text {
  font-weight: bold;
  color: #6c7284;
  font-size: 14px;
}

.total-nodes {
  padding-top: 5px;
  font-size: 20px;
  color: white;
}

p-table {
  ::ng-deep {

    .p-datatable {
      margin-top: 1rem;
      background-color: $theme_color;
      padding: 1rem;

      tr, th, td,
      .p-paginator {
        background: none !important;
        padding: 8px 0;
        border: none;
      }

      td, th, .p-paginator-element, .p-paginator-icon {
        font-size: 14px;
      }
      
      td, .p-paginator-element, .p-paginator-icon {
        color: white !important;
      }

      td {
        padding: 6px 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      th,
      th:hover {
        color: #ffffff66 !important;
        box-shadow: none !important;
      }

      .p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
      .p-paginator-element:hover,
      .p-paginator-page:hover {
        background: #39316c !important;
        border: none;
      }

      .p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
      .p-paginator-current {
        font-size: 14px;
      }

      .p-paginator {
        padding: 0;
      }
    }

    .p-datatable-header {
      background: transparent !important;
      border: none !important;
    }
  }
}

// .table-header span {
//   display: flex;
//   justify-content: flex-end;
// }

.table-header {

  display: flex;
  justify-content: flex-end;

  input {
    font-size: 14px;
    color: white;
    border: none !important;
    box-shadow: none !important;
    background-color: #39316c;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
  }
}