<p class="stat-text">STATS FOR THE WHOLE WORLD:</p>
<p class="total-nodes">NUMBER OF NODES: 458</p>

<p-table #dt [columns]="cols" [value]="tableData" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
  [filterDelay]="0" [globalFilterFields]="['moniker','node_id','chain','country', 'isp', 'data_center']">
  <ng-template pTemplate="caption">
    <div class="table-header">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search" />
        </span>
    </div>
</ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th [pSortableColumn]="col.field" *ngFor="let col of columns">
          {{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
        <td [attr.colspan]="cols.length" style="text-align: center;padding-block: 16px;">No matching records found</td>
    </tr>
</ng-template>
</p-table>